body {
	font-family: Georgia, serif;
	margin: 0;
    background-image: url("../image/road-trip.jpg");
    
}
body,html {
    height: 100%;
  }

h1,h2,h3,h4,h5,h6,span {
    font-family: "serif";
    font-weight: 700;
  }

/*styling top navigation*/
.nav {
    background-color:black;
    max-width: 100%;
	min-width: 160px;
	height:50px;
    flex: 2;
    overflow: hidden;
    border-bottom: 2px solid #34495e;
  }

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
  }

.nav a.menu-item{
    float:right;
    font-size: 17px;
}

.nav a:hover {
    background-color: blue;
}

.intro {
    padding-top:0px;
    text-align: center;
    image-resolution: 100 * 100;
    background-size: cover;
    display: inline;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: block;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: whitesmoke;
    text-align:center;
    font-size: 20px;
    padding: 08px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
  }

  .button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .footer{
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  .footer .motto{
    color:  white;
    font-size: 24px;
    margin: 0;
  }
  
  .footer .company-name{
    color:  white;
    font-size: 14px;
    margin: 0;
  }
  
  .footer .links{
    list-style: none;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
  }
  
  .footer .links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  
  @media (max-width: 600px) {
  
    .footer{
      padding: 6px;
    }
  
    .footer .motto{
      font-size: 12px;
    }
  
    .footer .company-name{
      font-size: 10px;
    }
  
    .footer .links{
      font-size: 12px;
      padding: 15px 0 15px;
    }
  
    .footer .links a{
      line-height: 1.8;
    }
  }
  
  footer {
    position: static;
    bottom: 0;
  }
 
  /*sign up form- passenger reg*/
  .custreg {
    width:400px;
    margin: auto;
    padding: 20px;
    margin-top:15px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 6px;
    background-color: none;
  }

  /*sign in form*/
  .login-intro-header {
    width:400px;
    margin: auto;
    padding: 20px;
    margin-top:20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 6px;
  }
  
  input[type=text], input[type=password], textarea,select{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 6px;
  }
  
  

